*{font-family: 微软雅黑,Arial, sans-serif;}
.datatable {
	border-collapse: separate;
	border-spacing: 0;
	background: #fff;
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 100%;
	font-family: 微软雅黑,Arial, sans-serif;
	border-collapse:collapse; border:solid 1px #ededed;
	overflow: scroll;
	background: #fff;
	color: #000;
}

.datatable th {
	font-weight: bold;
		background: #fff;
	color: #666666;
	border-color: #d0d0d0;
	padding: 1px 2px;
	line-height: 30px;
	height: 30px;
	border-right: solid 1px #D0D0D0;
	border-bottom: solid 1px #D0D0D0;
	text-align: center;
	font-size: 16px;
}

.datatable tr {
	border-bottom:solid 1px #ededed;
}
.datatable td {
	padding: 1px 2px;
	line-height: 21px;
	border-right: solid 1px #ededed;
	
}

.datatable a {color:#3C7FB1; font-size:13px; line-height:20px;}
.datatable a:hover {text-decoration:underline; line-height:20px;}

.evenColor{	background: #fff;
	color: #000;}
.tdHover{background-color:#FD9511;color: #fff; }
.tdHover A{background-color:#FD9511;color: #fff; }
.tdClick{background-color:#FD9511; }



.panelBar { border-color:#efefef; font-size:13px; display:block; overflow:hidden; height:25px; border-style:solid;border-width:0px 0; background-repeat:repeat-x; }
.panelBar .pages { float:left; overflow:hidden; height:21px; padding:2px 5px;margin: 0px;}
.panelBar .pages span { float:left; line-height:21px;}
.panelBar .pages label {  line-height:21px; padding-left:3px;padding-right: 3px; }
.panelBar .pages select { float:left; margin:0 3px; font-size: 13px;font-family:Arial, sans-serif;}

.pageGoHover{background-color:#FAFBFC;color:#FD9511 }
.totalPage{margin-right: 10px;}
.totalCount{font-size: 15px;font-family:Arial, sans-serif;}
.pagego{ padding:0 5px 0 5px; cursor: pointer;}
.pagegoto{ cursor: pointer;font-weight: bold;}
.maxPage{font-family:Arial, sans-serif;font-weight: bold;font-size: 15px;}
.gototxt{width: 30px;height: 23px;border:1px solid #D0D0D0; font-size: 14px;font-weight: bold;font-family:Arial, sans-serif;}
.firstlastgo{color:#878787;}
.nowpagenum{font-weight: bold;color: red;}
.DataTable_Loading{font-weight: normal;color:#878787; margin: 10px auto;padding: 10px auto;text-align: center;}
.sortArrow{font-size:11px;color:#3A6B00;padding-left: 3px;font-weight: bold;}
.sortArrowHover{font-size:11px;color:#4EBEE4191919;padding-left: 3px;font-weight: bold;}
.sortArrowDown{font-size:11px;color:#191919;padding-left: 3px;font-weight: bold;}
.mycombox{color:#183152; border:6px #183152; font-size: 18px}
