
.datatable {
	border-spacing: 0;
	background: #fff;
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 100%;
	font-family: 微软雅黑,Arial, sans-serif;
	border-collapse:collapse; border:solid 1px #ededed;
	overflow: scroll;
}

.datatable th {
	color: #444;
	padding: 1px 2px;
	border-right: solid 1px #D0D0D0;
	border-bottom: solid 1px #D0D0D0;
	text-align: center;
	background-image: url("../../images/grid3-hrow.gif");
}
.datatable th:hover {
	color: #444;
	padding: 1px 2px;
	border-right: solid 1px #D0D0D0;
	border-bottom: solid 1px #D0D0D0;
	text-align: center;
	background-image: url("../../images/grid3-hrow-over.gif");
}

.datatable tr {
	border-bottom:solid 1px #ededed;
}
.datatable td {
	padding: 1px 2px;
	border-right: solid 1px #ededed;
	
}

.datatable a {color:#3C7FB1; font-size:13px; line-height:20px;}
.datatable a:hover {text-decoration:underline; line-height:20px;}

.evenColor{}
.tdHover{background-color:#EFEFEF; }
.tdClick{background-color:#D9E8FB; }

.dataTableScrollDiv{border: 1px solid #99BBE8;}


.panelBar {border-color:#99BBE8; background-image: url("../../images/bg.gif");font-size:13px; display:block; overflow:hidden; height:25px; border-style:solid;border-width:1px 1px;border-top:0px; background-repeat:repeat-x; }
.panelBar .pages { float:left; overflow:hidden; height:21px; padding:2px 5px;margin: 0px;}
.panelBar .pages span { float:left; line-height:21px;}
.panelBar .pages label {  line-height:21px; padding-left:3px;padding-right: 3px; }
.panelBar .pages select { float:left; margin:0 3px; font-size: 13px;font-family:Arial, sans-serif;}

.pageGoHover{background-color:#FAFBFC; }
.totalPage{margin-right: 10px;}
.totalCount{font-size: 15px;font-family:Arial, sans-serif;}
.pagego{ padding:0 5px 0 5px; cursor: pointer;}
.pagegoto{ cursor: pointer;font-weight: bold;}
.maxPage{font-family:Arial, sans-serif;font-weight: bold;font-size: 15px;}
.gototxt{width: 30px;height: 23px;border:1px solid #D0D0D0; font-size: 14px;font-weight: bold;font-family:Arial, sans-serif;}
.firstlastgo{color:#878787;}
.nowpagenum{font-weight: bold;color: red;}
.DataTable_Loading{font-weight: normal;color:#878787; margin: 10px auto;padding: 10px auto;text-align: center;}
.sortArrow{font-size:11px;color:#444;padding-left: 3px;font-weight: bold;}
.sortArrowHover{font-size:11px;color:#222;padding-left: 3px;font-weight: bold;}
.sortArrowDown{font-size:11px;color:#000;padding-left: 3px;font-weight: bold;}
.mycombox{color:#183152; border:6px #183152; font-size: 18px}
